.masthead{
 background-size: cover;
 min-height: 100vh;
 position: relative;
 color: white;
 text-shadow: 2px 2px 2px rgba(0,0,0,.2);   
}

h2{
    font-size: 4rem;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 5rem;
    padding-left: 5rem;
    background-color: rgba(0,0,0,.2);
}

.btn{
    position: absolute;
    background-color: rgba(0,0,0,.2);
}
